# Virtual Environment
venv/
.venv/
env/
ENV/
.spectre/
spectre/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Secrets
.env
*.env
local_settings.py

# Django database
db.sqlite3
db.sqlite3-journal

# Static files (if you collect them)
staticfiles/
aicfo/static/

# Media files (user uploads)
media/

# IDE / Editor files
.vscode/
.idea/

# test files 
ztest.html